In [4]:
import sqlite3
import csv
import io

# Create a cleaned CSV content
csv_data = """id,name,department,marks
1,Alice,IT,87
2,Bob,CSE,92
3,Charlie,ECE,78
4,Diana,IT,88
5,Ethan,CSE,67
"""

# Simulate reading from a file using StringIO
csv_file = io.StringIO(csv_data)

# Connect to SQLite (in-memory database for Colab)
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create table
cursor.execute('''
    CREATE TABLE students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        department TEXT NOT NULL,
        marks INTEGER NOT NULL
    )
''')

# Read CSV and insert into SQLite
reader = csv.DictReader(csv_file)
for row in reader:
    cursor.execute('''
        INSERT INTO students (id, name, department, marks)
        VALUES (?, ?, ?, ?)
    ''', (int(row['id']), row['name'], row['department'], int(row['marks'])))

conn.commit()

# Run SQL queries
print("📊 All Students:")
for row in cursor.execute("SELECT * FROM students"):
    print(row)

print("\n🎯 Students with marks > 80:")
for row in cursor.execute("SELECT name, marks FROM students WHERE marks > 80"):
    print(row)

cursor.execute("SELECT COUNT(*) FROM students WHERE department = 'CSE'")
count = cursor.fetchone()[0]
print(f"\n📈 Total number of students in CSE department: {count}")

# Close connection
conn.close()

📊 All Students:
(1, 'Alice', 'IT', 87)
(2, 'Bob', 'CSE', 92)
(3, 'Charlie', 'ECE', 78)
(4, 'Diana', 'IT', 88)
(5, 'Ethan', 'CSE', 67)

🎯 Students with marks > 80:
('Alice', 87)
('Bob', 92)
('Diana', 88)

📈 Total number of students in CSE department: 2